<h2><%= @import.title %></h2>

<hr/>

<h5>Todos Imported:</h5>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Due at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @import.todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= todo.due_at %></td>
        <td><%= link_to 'Details', todo %>
        | <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
