<!DOCTYPE html>
<html>
<head>
  <title>Sandbox018StarterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='main' class='<%= controller_name %> <%= action_name %>'>

  <%= render 'shared/nav' %>

  <section>
    <aside>Bourbon mixins</aside>
    <article>
      <%= link_to 'Bourbon', 'http://bourbon.io/' %> is a simple and lightweight mixin library for Sass.
    </article>
  </section>
  <section>
    <aside>Neat grid</aside>
    <article>
      <%= link_to 'Neat', 'http://neat.bourbon.io/' %> is an open source semantic grid framework built on top of Sass and Bourbon.
    </article>
  </section>
  <section>
    <aside>Bitters styles</aside>
    <article>
      <%= link_to 'Bitters', 'http://bitters.bourbon.io/' %> is scaffold styles, variables and structure for Bourbon projects.
    </article>
  </section>

  <section id='content'>
    <%= yield %>
  </section>

</div>

</body>
</html>
